:root {
  --main-bg-color: #f0f2f5;
  --chat-bg-color: #fff;
  --highlight-color: #f69914;
  --text-color-white: #fff;
  --border-color: #ddd;
  --input-border-color: #ccc;
  --hover-bg-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--main-bg-color);
}

.chat-container {
  height: 100%;
  width: 600px;
  border: 1px solid var(--border-color);
  background-color: var(--chat-bg-color);
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlight-color);
  color: var(--text-color-white);
  height: 68px;
  padding: 0px 10px;
}

.chat-header button#logout {
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color-white);
  border: 1px solid var(--chat-bg-color);
  border-radius: 10px;
}

.chat-content {
  padding: 10px;
  height: calc(100vh - 90px - 57px);
  overflow-y: auto;
  gap: 10px;
}

.chat-content .message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-content .message:not(:first-child) {
  margin-top: 10px;
}

.chat-content .message .username {
  font-weight: bold;
  color: var(--highlight-color);
}

.chat-content .message .message-content {
  margin-top: 5px;
}

.chat-input {
  display: flex;
  padding: 10px;
  height: 57px;
  box-sizing: border-box;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

.chat-input button {
  padding: 10px;
  background-color: var(--highlight-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: var(--hover-bg-color);
}

.auth-container {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container p span {
  text-decoration: underline;
  color: var(--hover-bg-color);
  cursor: pointer;
}

#loginForm .input-group,
#signupForm .input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

#loginForm .input-group label,
#signupForm .input-group label {
  margin-bottom: 5px;
}

#loginForm .input-group input,
#signupForm .input-group input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

#loginForm button,
#signupForm button {
  background-color: orange;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#loginForm button:hover,
#signupForm button:hover {
  background-color: darkorange;
}